<div>
  <select [(ngModel)]="firstRelease">
    <option *ngFor="let release of releases" value={{release.id}}>
      {{release.version}}
    </option>
  </select>
</div><br>
<div>
  <select [(ngModel)]="secondRelease">
    <option *ngFor="let release of releases" value={{release.id}}>
      {{release.version}}
    </option>
  </select>
</div><br>
<div>
  <select [(ngModel)]="serversNr">
    <option *ngFor="let srv of srvNr" value={{srv.id}}>
      {{srv.name}}
    </option>
  </select>
</div><br>
<div>
  <button (click)="loadMetrics()">Load Metrics</button>
  <br><br>
  <p>Version: <b>{{version}}</b></p><br>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <td>Endpoints</td>
    <td> ( 1 )</td>
    <td> ( 20 )</td>
    <td> ( 30 )</td>
    <td> ( 50 )</td>
    <td> ( 80 )</td>
    <td> ( 130 )</td>
    <td> ( 210 )</td>
    <td> ( 340 )</td>
    <td>Avg-Diff</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transfer of metrics">
    <td style="color: blue">{{transfer.endpoint}}</td>
    <td><b>{{transfer.first}}</b></td>
    <td><b>{{transfer.second}}</b></td>
    <td><b>{{transfer.third}}</b></td>
    <td><b>{{transfer.fourth}}</b></td>
    <td><b>{{transfer.fifth}}</b></td>
    <td><b>{{transfer.sixth}}</b></td>
    <td><b>{{transfer.seventh}}</b></td>
    <td><b>{{transfer.eighth}}</b></td>
    <td><b>{{transfer.diff}}</b></td>
  </tr>
  </tbody>
</table>
